 body
            {
                background-image: url("Background.jpg")
            }
#second
       {
        position: absolute;
        top: 630px;
        left: 330px;
        }
        #third 
        {
        position:absolute;
        top: 627px;
        left:650px; 
        }

        #fourth
        {
        position:absolute;
        top: 627px;
        left:975px; 
        }

        #fifth
        {
        position:absolute;
        top: 627px;
        left:1275px; 
        }

#desc
{
    position:absolute;
    top: 35px;
    left: 148px;
}

#desc1
{
    position:absolute;
    top: 670px;
    left: 160px;
}

#desc2
{
    position:absolute;
    top: 35px;
    left: 148px;
}

#desc3
{
    position:absolute;
    top: 35px;
    left: 148px;
}

#desc4
{
    position:absolute;
    top: 35px;
    left: 148px;
}



